<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id='output'>
    <ul>
      <li v-for='capital in capitals'>
        {{ capital }}
      </li>
    </ul>
    <input type="text" v-model='newCapital'>
    <button type="button" v-on:click="addCapital">Add capital</button>
  </div>
</body>
</html>
<script>
  const app = new Vue({
    el: '#output',
    data: {
      newCapital: '',
      capitals: [
        "Oslo",
        "Helsinki",
        "Brussels"
      ]
    },
    methods: {
      addCapital () {
        // Alltid this när vi i en metod använder oss
        // av egenskaper i data-objektet.
        this.capitals.push(this.newCapital);
        this.newCapital = '';
      }
    }
  })
</script>
